<ion-header>
    <ion-navbar color="primary">
        <ion-title>
            Map Che
        </ion-title>
    </ion-navbar>
</ion-header>

<ion-content>
    <ion-card>
        <ion-item>
            <ion-avatar item-start>
                <img src="assets/imgs/marty-avatar.png">
            </ion-avatar>
            <h2>Remberto Infante</h2>
            <p>November 5, 1955</p>
        </ion-item>

        <div #map id="map"></div>

        <ion-row>
            <ion-col>
                <button ion-button icon-left clear small (click)="positionMarker()">
                    <ion-icon name="pin"></ion-icon>
                    <div>Unde pa' sabe' onde estas</div>
              </button>
            </ion-col>
        </ion-row>

    </ion-card>
</ion-content>